<header>
  <p>hello Employee Review System</p>
  <%if(locals.user){%>
  <p>hello user</p>
  <%}%>
  <a href="/user/signup" type="GET">Signup</a>
  <a href="/user/login" type="GET"> Login</a>
  <a href="/user/signout" type="GET"> Signout</a>
</header>
