<header>
  <%if(locals.user && locals.user.isAdmin){%>
  <a href="/user/signout" type="GET"> Signout</a>
  <%}else {%>
  <a href="/user/signup" type="GET">Signup</a>
  <a href="/user/login" type="GET"> Login</a>
  <%}%>
  <a href="/admin/main" type="GET">Admin Page</a>
</header>
