.home_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}

#left_section,
#right_section {
  width: 50%;
  border-left: 1px solid grey;
  padding: 0 0.5rem;
}
.section_heading {
  text-align: center;
  background-color: #000000ab;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.reviews_container {
  border-bottom: 1px solid grey;
}
